@import forms.HowOldAreYouForm

@import java.time.LocalDate
@import java.util.Date
@import play.api.data.Forms.localDate
@(form: Form[HowOldAreYouForm])(implicit messages: Messages)

@Template("Age") {
@defining(play.core.PlayVersion.current) { version =>

    <div>
        @helper.form(action = controllers.routes.HowOldAreYouController.howOldAreYouOnSubmit()) {
            @helper.inputDate(field = form("howOldAreYou"), args = Symbol("_label") -> localDate)
            <input type="submit" value="Submit">
            }

        @*Slider("Age", form)*@

    </div>
}
}
