@import forms.WhenWereYouBornForm
@import play.api.data.Forms.localDate
@(form: Form[WhenWereYouBornForm])(implicit messages: Messages)

@Template("Age") {
@defining(play.core.PlayVersion.current) { version =>

    <div>
        @helper.form(action = controllers.routes.WhenWereYouBornController.whenWereYouBornOnSubmit()) {
            @helper.inputDate(field = form("howOldAreYou"), args = Symbol("_label") -> localDate)
            <input type="submit" value="Submit">
            }

        @*Slider("Age", form)*@

    </div>
}
}
