@import forms.WhatSexAreYouForm
@import views.html.components.Template
@import helpers.MaleOrFemale

@(form: Form[WhatSexAreYouForm])(implicit messages: Messages)

@Template("Page1Sex") {
    @defining(play.core.PlayVersion.current) { version =>
        <div>
            @helper.form(action = controllers.routes.Page1WhatSexAreYouController.whatSexAreYouOnSubmit()) {
                @helper.inputRadioGroup(field = form("whatSexAreYou"), options = Seq("Male"->"Male","Female"->"Female"), args = Symbol("_label") -> MaleOrFemale)
                <input type="submit" value="Submit">
            }
        </div>
    }
}
