@import forms.WhatIsYourTargetWeightForm
@import views.html.components.Template

@this()

@(form: Form[WhatIsYourTargetWeightForm])(implicit messages: Messages)

    @Template(messages("page5.target-weight.title")) {
        @defining(play.core.PlayVersion.current) { version =>

    <div>
        @helper.form(action = controllers.routes.Page5WhatIsYourTargetWeightController.whatIsYourTargetWeightOnSubmit()) {
            @helper.inputText(field = form("whatIsYourTargetWeight"), args = Symbol("_label") -> Double)
            <input type="submit" value="Submit">
            }

    </div>
}
}