@import forms.DoYouWantToUseYourBodyFatForm
@import views.html.components.Template

@this()

@(form: Form[DoYouWantToUseYourBodyFatForm])(implicit messages: Messages)

@Template(messages("page12.body-fat.title")) {
@defining(play.core.PlayVersion.current) { version =>

    <div>
<!--        TODO - Make form value optional-->
        @helper.form(action = controllers.routes.Page12DoYouWantToUseYourBodyFatController.doYouWantToUseYourBodyFatOnSubmit()) {
            @helper.inputText(field = form("doYouWantToUseYourBodyFat"), args = Symbol("_label") -> Double)
            <input type="submit" value="Submit">
            }

    </div>
}
}