@import forms.ShortSummaryForm
@import dto.MacroCalcDto
@import views.html.components.Template

@this()

@(form: Form[ShortSummaryForm], macroCalcDto: MacroCalcDto, bmr: Int, tdee: Int)(implicit messages: Messages)

@Template(messages("page7.short-summary.title")) {
@defining(play.core.PlayVersion.current) { version =>

    <p>@macroCalcDto</p>

    <p>bmr: @bmr</p>
    <p>tdee: @tdee</p>

    @helper.form(action = controllers.routes.Page7ShortSummaryController.shortSummaryOnSubmit()) {
        @helper.inputRadioGroup(
            field = form("doYouWantToUseAdvancedValues"),
            options = Seq(
                "true" -> "true",
                "true" -> "false",
            ),
            args = Symbol("_label") -> Boolean
        )
        <input type="submit" value="Submit">
    }




}
}