@import forms.HowTallAreYouForm
@import views.html.components.Template

@this()

@(form: Form[HowTallAreYouForm])(implicit messages: Messages)

@Template(messages("page3.height.title")) {
@defining(play.core.PlayVersion.current) { version =>

    <div>
        @helper.form(action = controllers.routes.Page3HowTallAreYouController.howTallAreYouOnSubmit()) {
            @helper.inputText(field = form("howTallAreYou"), args = Symbol("_label") -> Double)
            <input type="submit" value="Submit">
            }

    </div>
}
}
