@import forms.DoYouHaveAKcalGoalForm
@import views.html.components.Template

@(form: Form[DoYouHaveAKcalGoalForm])(implicit messages: Messages)

@Template(messages("page8.kcal-goal.title")) {
@defining(play.core.PlayVersion.current) { version =>

    <div>
<!--        TODO - Make form value optional-->
        @helper.form(action = controllers.routes.Page8DoYouHaveAKcalGoalController.doYouHaveAKcalGoalOnSubmit()) {
            @helper.inputText(field = form("doYouHaveAKcalGoal"), args = Symbol("_label") -> Int)
            <input type="submit" value="Submit">
            }

    </div>
}
}