@import forms.HowMuchDoYouWeighForm
@import views.html.components.Template

@(form: Form[HowMuchDoYouWeighForm])(implicit messages: Messages)

@Template("Current weight") {
@defining(play.core.PlayVersion.current) { version =>

    <div>
        @helper.form(action = controllers.routes.Page4HowMuchDoYouWeighController.howMuchDoYouWeighOnSubmit()) {
            @helper.inputText(field = form("howMuchDoYouWeigh"), args = Symbol("_label") -> Double)
            <input type="submit" value="Submit">
            }

    </div>
}
}