@import forms.DoYouHaveAProteinGoalForm

@(form: Form[DoYouHaveAProteinGoalForm])(implicit messages: Messages)

@Template("Protein Goal") {
@defining(play.core.PlayVersion.current) { version =>

    <div>
<!--        TODO - Make form value optional-->
        @helper.form(action = controllers.routes.Page9DoYouHaveAProteinGoalController.doYouHaveAProteinGoalOnSubmit()) {
            @helper.inputText(field = form("doYouHaveAProteinGoal"), args = Symbol("_label") -> Int)
            <input type="submit" value="Submit">
            }

    </div>
}
}