@import forms.WhatSexAreYouForm

@import helpers.Male
@import helpers.MaleOrFemale
@(form: Form[WhatSexAreYouForm])(implicit messages: Messages)

@Template("Sex") {
    @defining(play.core.PlayVersion.current) { version =>
        <div>
            @helper.form(action = controllers.routes.WhatSexAreYouController.whatSexAreYouOnSubmit()) {
                @helper.inputRadioGroup(field = form("whatSexAreYou"), options = Seq("Male"->"Male","Female"->"Female"), args = Symbol("_label") -> MaleOrFemale)
                <input type="submit" value="Submit">
            }
        </div>
    }
}
