@import forms.WhatIsYourTargetWeightForm

@(form: Form[WhatIsYourTargetWeightForm])(implicit messages: Messages)

@Template("Target weight") {
@defining(play.core.PlayVersion.current) { version =>

    <div>
        @helper.form(action = controllers.routes.WhatIsYourTargetWeightController.whatIsYourTargetWeightOnSubmit()) {
            @helper.inputText(field = form("whatIsYourTargetWeight"), args = Symbol("_label") -> Double)
            <input type="submit" value="Submit">
            }

    </div>
}
}