@import partials._

@this(main: mainTemplate)

@(title: String, formType: String, param1: Option[String] = None, param2: Option[String] = None, param3: Option[Int] = None)
@defining(play.core.PlayVersion.current) { version =>

    @main(title) {
        <form>
            <h1 class="h3 mb-3 fw-normal">title</h1>
            <label for="answer" class="visually-hidden">Answer:</label>
            <div class="row">
                <div class="col-md-12 align-content-center">
                    @formType match {
                        case "text" => {
                            <input type="text" id="answer" placeholder="Type answer here" required autofocus>
                        }
                        case "radio" => {
                    <fieldset>
                        <label for="@Html(param1)">@Html(param1)</label>
                            <input type="radio" id="@Html(param1)" class="form-control" value="@Html(param1)">
                        <label for="@Html(param2)">@Html(param2)</label>
                            <input type="radio" id="@Html(param2)" class="form-control" value="@Html(param2)">
                    </fieldset>
                            }
                        case _ => {
                            <h1>No formtype help pls pls pls I beg you pls</h1>
                        }
                    }
                </div>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        </form>

    }

}
